.photo {
    width: 187px;
    border-radius: 54%;
    margin-left: 260px;
}
/* .container{ */
    border: double;
    width: 725px;
    margin-left: 356px;
    background: azure;
    margin-bottom: 52px;
    margin-left: 200px;
    margin-top: 86px;

.title{
    margin-left: 245px;
}
.All{
    margin-left: 245px;
}
.namee{ margin-left: 276px;

}
.main{
border: double;
    width: 725px;
    margin-left: 356px;
    background: azure;
}